html {
	font-family: arial, helvetica, sans-serif;
	color: #333;
}
html, body, #map {
	height: 100%;
	padding: 0;
	margin: 0;
}

button {
	display: inline-block;
	padding: 3px 6px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #333;
	border-color: black;
	margin-left: 2px;
}

.side {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 100%;
	background-color: white;
	overflow-y: auto;
}
.side-btns {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
#map-btns {
	position: fixed;
	top: 10px;
	right: 10px;
}

#plan-list-title {
	width: 100%;
	text-align: center;
}

#plan-list {
	width: 90%;
	margin: auto;
}

#plan-name-input {
	width: 90%;
	margin-left: 10px;
}
#plan-name-btn {
	margin-left: 10px;
}
#plan-name-txt {
	width: 100%;
	text-align: center;
}
#save-drawing-warning {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 5px;
	color: white;
	background-color: #d9534f
}
